[submodule "react-frontend-typescript-template"]
	path = react-frontend-typescript-template
	url = git@github.com:xiaokatech/react-frontend-typescript-template.git
[submodule "node-backend-typescript-template"]
	path = node-backend-typescript-template
	url = git@github.com:xiaokatech/node-backend-typescript-template.git
[submodule "terraform-infra-template"]
	path = terraform-infra-template
	url = git@github.com:xiaokatech/terraform-infra-template.git
[submodule "chrome-extension-v1-react-template"]
	path = chrome-extension-v1-react-template
	url = git@github.com:xiaokatech/chrome-extension-v1-react-template.git
